<!-- <div class="app">
  <div class="app-top">
    <button (click) = "toggleVisible()">toggle visible</button>
    <button (click) = "toggleWeekends()">toggle weekends</button>
    <button (click) = "gotoPast()">go to a date in the past</button>
    (also, click a date/time to add an event)
  </div>
  <full-calendar #fullcalendar [editable] = "true" [events] = "calendarEvents"
  [header] = "options.header" [customButtons] = "options.customButtons"
  (dateClick) = "dateClick($event)" (eventDragStop) = "eventDragStop($event)"
  [plugins] = "options.plugins" (eventClick) = "eventClick($event)"
  [columnHeaderHtml] = "options.columnHeaderHtml"></full-calendar>
</div> -->
<div class="cal-container" fxLayoutAlign="center center" fxFlexFill fxLayoutGap="20px">
  <mat-card>
    <full-calendar [options]="calendarOptions" class="cal"></full-calendar>
    <button mat-raised-button color="primary" (click)="toggleWeekends()">Weekends</button>
  </mat-card>
  <mat-card>
    <div class="cal-years" fxLayoutAlign="center center" fxLayout="column">      
      <button mat-button>2021</button>
      <button mat-button>2022</button>
      <button mat-button>2023</button>
      <button mat-button>2024</button>
      <button mat-button>2025</button>
      <button mat-button>2026</button>
      <button mat-button>2027</button>
      <button mat-button>2028</button>
      <button mat-button>2029</button>
      <button mat-button>2030</button>
      <button mat-button>2031</button>
      <button mat-button>2032</button>
    </div>
  </mat-card>
  <mat-card>
    <div class="cal-months" fxLayoutAlign="center center" fxLayout="column">
      <button mat-button color="primary">January</button>
      <button mat-button>February</button>
      <button mat-button>March</button>
      <button mat-button>April</button>
      <button mat-button>May</button>
      <button mat-button>June</button>
      <button mat-button>July</button>
      <button mat-button>August</button>
      <button mat-button>September</button>
      <button mat-button>October</button>
      <button mat-button>November</button>
      <button mat-button>December</button>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>